<div class="container-fluid p-3 h-100">
    <div class="sql-form-ctn rounded col-12 pl-5 pr-5 pt-3 pb-3">
        <div class="row">
           <div class="col-6 p-0 form-req">
               <h4><i class="fas fa-database small text-warning"></i> Requête SQL</h4>
               <hr>
               <div class="pre rounded shadow bg-light border col-12">
                   <div class="code pt-3">
                       <textarea name="request" class="prism-live language-{{theme.code|lower}} overflow-hidden">SELECT * FROM villes_france_free LIMIT 50</textarea>
                   </div>
               </div>
               <br>
               <button class="btn btn-sm btn-warning req-submitter"><i class="fas fa-paper-plane"></i> Executer la
                   requête
               </button>
               <button class="btn btn-sm btn-secondary ml-3 req-deleter" hidden><i class="fas fa-times"></i> Effacer</button>
           </div>
            <div class="col-6 exercice pl-5">
                {% include 'editor/exercices.html.twig' %}
            </div>
        </div>
    </div>
</div>