<nav class="navbar navbar-expand-lg navbar-light bg-light shadow-lg sticky-top" style="z-index: 100">
    <a class="navbar-brand" href="{{ path('student_dash') }}">
        <img src="https://cdn.bzez.dev/img/logo-blanc.png" alt="Logo graphicNAIVETY" width="30">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{{ path('student_dash') }}"><i class="fas fa-tachometer-alt text-warning"></i> Dashboard </a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-graduation-cap text-warning"></i> Exercices
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    {% for theme in cours.all %}
                        <a class="dropdown-item" href="{{ path('student_exos',{code:theme.code}) }}">{{ theme.label }}</a>
                    {% endfor %}
                </div>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>